* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../public/static/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 100%;
  color: #0f621c;
}
